.die {
    @include flex();
    width: 35px;
    height: 35px;
    border-radius: 4px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);

    font-family: "Karla";
    font-style: normal;
    font-weight: 700;
    font-size: 20.5px;
    color: #2b283a;

    &.held{
        background-color: #59E391;
    }

    &:hover{
        cursor: pointer;
    }
}
